# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase configuration files
firebase.json
firebase-debug.log*
.firebaserc

# Firebase cache
.firebase/

# Firebase emulators
dataconnect/.dataconnect/
dataconnect/.dataconnect/pgliteData/

# Ignore build and output directories
bin/
obj/
dist/
build/

# IDE and OS-specific files
.vscode/
.DS_Store
Thumbs.db

# Environment files (important for security)
.env
.env.local
.env.development
.env.production
